@model IEnumerable<ProjectS360.MODEL.Entities.Company>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_SharedAdminLayout.cshtml";
}

<div class="page-header">
    <h3>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Şirket Listesi
        </small>
    </h3>
</div>
<br />


@*<div class="col-6 text-left text-white">
    <a class="btn btn-success" href="/Company/Add/">Tip Ekle</a>
</div>*@

<div class="row">
    <div class="col-xs-12 " style="margin-top:50px;">
        <table class="table table-bordered">
            <thead class ="thead-light">
                <tr>
                    <th>ŞirketID</th>
                    <th>Şirket Adı</th>
                    <th>Şirket Ünvanı</th>
                    <th>Email</th>
                    <th>Telefon No</th>
                    <th>Adres</th>
                    <th>Logo</th>
                    <th colspan="2">Güncelle / Sil</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.CompanyName</td>
                            <td>@item.CompanyFullName</td>
                            <td>@item.CompanyEmail</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.CompanyAddres</td>

                            @* itemın yetkisi *@
                            <td><img src="@item.Logo" style="width:40px; height:40px; display:block;"  /></td>
                            <td>
                                <a href="/Admin/Company/Update/@item.ID">Güncelle</a>
                                /
                                <a href="/Admin/Company/Delete/@item.ID">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
    </div>

</div>